:root{
    --Colors: rgba(9, 0, 0, 0.49);
    --TitleColor: rgba(47, 0, 0, 0.54);
    --TitleFontSize:18px;
    --NavColor: rgba(10, 0, 0, 0.89);
    --BigTitleColor: #888888;
    --BigTitleSize: 24px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    border: none;
    outline: none;
}
button{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0;
}

/*导航*/
nav{
    position: sticky;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    top:0;
    margin-top: 20px;
}
.search{
    height: 45px;
    width: 40%;
    border: 1px solid var(--Colors);
    border-right: none;
    padding-left: 12px;
    font-size: 15px;
}
.search+button{
    height: 45px;
    padding: 0 20px;
    font-size: 15px;
    background: var(--Colors);
    color: white;
    cursor: pointer;
}
.search+button:hover{
    background-color: #1a0000;
}

main{
    width: 1100px;
    margin: 0 auto;
}

main>section{
    width: 75%;
    padding: 20px;
}
section>div{
    margin-bottom: 20px;
}
main h1{
    background-color: var(--Colors);
    font-size: var(--BigTitleSize);
    color: white;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
}
section dl{
    padding: 20px 0 10px;
    border-bottom: 1px dashed var(--Colors);
}
section dt{
    font-size: var(--TitleFontSize);
    color:var(--TitleColor);
    width: 150px;
    flex-shrink: 0;
    font-weight: bold;
}
main a{
    display: inline-block;
    color:var(--NavColor);
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    word-break: break-all;
    vertical-align: top;
    border: 1px solid #c8c8c8;
}
main a:hover{
    background-color: #dcdcdc;
}
main a>img{
    vertical-align: -3px;
    height: 18px;
    margin-right: 5px;
}
main section a:visited{
    color: slateblue;
}


/*侧边栏*/
aside{
    width: 25%;
    border-left: 1px dashed var(--Colors);
    padding: 20px;
}

.leftMenu{
    position: fixed;
    left: 20px;
    top:50%;
    background-color: rgba(0, 0, 0, 0.11);
    width: 100px;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.leftMenu>a{
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: var(--NavColor);
    cursor: pointer;
}
.leftMenu>a:hover{
    background-color: var(--Colors);
    color: white;
}


/*置顶*/
.top{
    position: fixed;
    right: 10%;
    bottom: 50px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.top.hide{
    display: none!important;
}
.top:hover{
    background-color: #d4d4d4;
}
.top>svg{
    transform: scale(2);
    -webkit-transform: scale(2);
}











