@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
cite,
del,
em,
img,
q,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tr,
th,
td,
caption,
tbody,
tfoot,
thead,
article,
aside,
details,
summary,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
audio,
input,
select,
textarea,
sub,
sup,
button {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	outline: none;
}
html {
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	/* min-width: 1100px; */
	user-select: none;
}
input {
	-webkit-appearance: none;
}
/*美化滚动条*/
.beautyScroll::-webkit-scrollbar {
	width: 0;
}
.center {
	@apply flex items-center justify-center;
}
.semi-image-status {
	background: transparent;
}
.semi-image-img {
	object-fit: scale-down;
}
a {
	@apply text-inherit no-underline;
}
